<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ClickCounterApp.Apk.FortuneSeeker.ClickCounterApp.Apk.FortuneSeeker" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" />
	<application android:allowBackup="true" android:theme="@style/YinYangTheme" android:label="@string/app_name" android:icon="@mipmap/yinyang"></application>
</manifest>