<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="FortuneEntities" connectionString="metadata=res://*/Fortune.FortuneModel.csdl|res://*/Fortune.FortuneModel.ssdl|res://*/Fortune.FortuneModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEDESERVER2012\DEDESQLSERVER;initial catalog=Fortunes;persist security info=True;user id=Pagan;password=147258;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="FortuneEntities" connectionString="Data Source=mvcdata.db.7888150.hostedresource.com; Initial Catalog=mvcdata; User ID=mvcdata; Password=Ftwnate1!;" providerName="System.Data.SqlClient" />-->
  <add name="FortuneEntities" connectionString="metadata=res://*/Fortune.FortuneModel.csdl|res://*/Fortune.FortuneModel.ssdl|res://*/Fortune.FortuneModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mvcdata.db.7888150.hostedresource.com;initial catalog=mvcdata;user id=mvcdata;password=Ftwnate1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
